.header{
    background-color: aqua;

    &__navegation{
        display: flex;

        &__titulo{
            color: rgb(200, 76, 76);
            font-family: Arial, Helvetica, sans-serif;
        }
        &__link{
            display: flex;
        }
    }
}

.menu{
    color: purple;
    &__navegation{

        &titulo{
            color: purple;

        }
        &__summary{
            list-style: none;
            
        }
        &__text{
            color: white;
            background-color: blue; 
        }
        &__section{
            display: flex;
            flex-direction: row;
        }
    }
}
   
       