
.header{
    background-color: rgba(163,219,239,255);

    &__navegation{
        display: flex;

        &__titulo{
            color: rgb(200, 76, 76);
            font-family: Arial, Helvetica, sans-serif;
            margin-left: 2%;
            margin-bottom: 1%;
        }
        &__link{
            margin-left: 2%;
            margin-top: 2%;
            color: rgb(200, 76, 76);
        }
        
    }
}

.menu{
   
    &__navegation{

        &__titulo{
            color: purple;
            margin-left: 5%;

        }
        &__titulo2{
            margin-top: 0%;
            margin-left: 5%;
            color: purple;

        }
        &__summary{
            list-style:none;
            background-color: rgba(0,65,115,255); 
            padding: 3%; 
        }
        &__text{
            color: white;
            text-align: center;
            margin-top: 0%;
            margin-bottom: 0%;
             
        }
        &__section{
            display: flex;
          
        }
        &__section1{
            display: flex;
            
        }
        &__caja1{
            margin-left: 0.5%;
        }
        &__caja{
            margin-left: 4%;
        }
        
        &__text1{
            text-align: start;
            color: #7f19ab;
        }
        &__titulo1{
            text-align: center;
            color: #551574;
            font-size: x-large;
            font-family: Arial, Helvetica, sans-serif;
        }
        &__title{
            color: #db6ed7;
        }
       
        
    }
}
   
       