.header{
    background-color: aqua;

    &__navegation{
        display: flex;

        &__titulo{
            color: rgb(200, 76, 76);
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}